<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    </head>
<body>
    <form>
    <fieldset>
        <legend>User</legend>

            Name: <input type="text " name="first_name" value="" placeholder="Enter here"/><br/>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

    </fieldset>
    </form>
</body>
</html>